body {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: Palatino, sans-serif;
    line-height: 155%;
    font-size: 18px;  /* Increased font size */
}

a {
    color: #176a9d;
    text-decoration: none;
}

a:hover {
    color: rgb(106, 0, 95);
}

heading {
    font-size: 28px;  /* Increased font size */
}

papertitle {
    font-size: 22px;  /* Increased font size */
    font-weight: bold;
}

name {
    font-size: 40px;  /* Increased font size */
    line-height: 130%;
}

note {
    color: #080808a6;
    font-size: 16px;  /* Increased font size */
}

highlight {
    color: #176a9d;
}
